body{
    background-color:blue;
    color:rgb(255, 255, 0);
    font-family: "Comic Relief", system-ui;
    margin: 0px;
}

header{
    font-size: 45px;
    text-align: center;
    border-bottom:   outset 5px rgb(255, 255, 0);
    /*margin: 30px;*/
    padding: 30px;
    
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

section{
background-color: black;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;


}
